.form{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 5%;
  }

  .form input{
    width: 200px;
    height:15px;
    margin: 10px;
  }

  .is-grouped {   
    display: inline-block;
    
}

.is-grouped > .button:not(:last-child) {
    margin-right: 10px;
}